html,
body {
    margin: 0;
    padding: 0;

}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}







nav {
    background-color: rgb(54, 55, 56);
    padding: 0.5em;
    position: fixed;
    width: 100%;
    top: 0;
   color: white;
text-align: right;


}

nav p{
    float: left;
}


nav a {
margin-top: 0.5em;
    margin-right: 1em;
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.5em;
}

nav a:hover {

    background-color: #ddd;
    color: black;
}





.section {

    background-image: url(imgs/img1.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 50em;
    color: white;
    padding: 10em;

}

.section h1 {

    line-height: 1em;
    font-size: 4em;
    text-decoration: underline overline white;

}

.section p{
    font-size: 1.5em;
}

.foto {
    
    width: 13em;
    height:13em;
    border-radius: 6em;

}

.section2 {
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 50em;
    padding: 10em;
}

.section2 h1{
    line-height: 1em;
    font-size: 3em;
}

.section2 p{
    line-height: 1.5em;
    margin-top: 4em;
}







.midia1 {
    width: 2em;
    height: 2em;

}

.midia2 {
   
    width: 2em;
    height: 2em;
}

.midia3 {
    width: 2em;
    height: 2em;
}







.section3 {
    background-color: rgb(0, 145, 255);
    text-align: center;
    height: 50em;
    padding: 10em;
}

.section4{
    text-align: center;
    height: 50em;
}



footer {

    margin-top: 40em;
    background-color: blue;
    padding: 10px;
}